# This env is for local hosting
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_ANDROID_BACKEND_URL=http://10.0.2.2:8000
NEXT_PUBLIC_REVERB_APP_KEY=qualification-project-key
NEXT_PUBLIC_REVERB_HOST=localhost
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_GEOPIFY_API_KEY=