# Backend
APP_NAME=PasakumuKarte
APP_ENV=production
APP_DEBUG=false
APP_URL=https://birabidon.lat
FRONTEND_URL=https://birabidon.lat

# Laravel App Key
APP_KEY=

# Database
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=pasakumu_karte
DB_USERNAME=postgres
DB_PASSWORD=

# Mail Configuration
MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@birabidon.lat
MAIL_FROM_NAME="${APP_NAME}"

# Sanctum Configuration
SANCTUM_STATEFUL_DOMAINS=birabidon.lat
SESSION_DOMAIN=birabidon.lat

# Frontend
NEXT_PUBLIC_API_URL=https://birabidon.lat/api
NEXT_PUBLIC_DOMAIN=birabidon.lat