# Backend
APP_NAME=PasakumuKarte
APP_ENV=production
APP_DEBUG=false
APP_URL=https://birabidon.lat
FRONTEND_URL=https://birabidon.lat

# Laravel App Key
APP_KEY=

# Database
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=pasakumu_karte
DB_USERNAME=postgres
DB_PASSWORD=

# Queue and Reverb
QUEUE_CONNECTION=database
BROADCAST_CONNECTION=reverb
REVERB_APP_ID=pasakumu-karte-id
REVERB_APP_KEY=pasakumu-karte-key
REVERB_APP_SECRET=pasakumu-karte-secret
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080

# Mail Configuration
MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@birabidon.lat
MAIL_FROM_NAME="${APP_NAME}"

# Sanctum Configuration
SANCTUM_STATEFUL_DOMAINS=birabidon.lat
SESSION_DOMAIN=birabidon.lat

# Frontend
NEXT_PUBLIC_BACKEND_URL=https://birabidon.lat/api
NEXT_PUBLIC_ANDROID_BACKEND_URL=https://birabidon.lat/api
NEXT_PUBLIC_REVERB_APP_KEY=pasakumu-karte-key
NEXT_PUBLIC_REVERB_HOST=birabidon.lat
NEXT_PUBLIC_REVERB_PORT=443
NEXT_PUBLIC_GEOPIFY_API_KEY=